@import "tailwindcss";

.app-general-div {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-right: 400px;
    padding-left: 400px;
    padding-top: 50px;
}

.header-header {
    float: right;
}

.header-bar-div {
    display: flex;
    justify-content: space-between;
    gap: 250px;
}

.header-bar-right {
    display: flex;
    gap: 100px;
}